.role_search{
    margin:20px 0;
}

select#roles,.show-roles select#roles{
    width:100%;
}

.image-upload{
    position: relative;
}

.image-upload .rolling{
    position:absolute;
    top:0;
    left:91px;
    width:160px;
    height:160px;
    background:rgba(255,255,255,0.5);
    border-radius: 50%;
    display:none;
}

.image-upload .rolling .fa{
    color: #000;
    font-size: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
}

.image-upload .rolling.left-30{
    left:31px;
}


.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 160px;
    height: 160px;
    cursor: pointer;
}

.image-upload img.margin-left-30{
    margin-left: 30px;
}
div.show-roles{
    display:none;
}

div.container { max-width: 1200px !important; }

.overlay-message{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left:0;
    z-index: 100000;
    display:none;
}

.overlay-message h1{
    color:#FFF;
    text-align: center;
    margin-top: 20%;
}

ul#online-users{
    padding: 0;
    margin: 0;
    min-height: auto;
    overflow-y: scroll;
}

ul#online-users li{
    list-style: none;
    display: block;
    border-bottom:1px solid #444;
    border-top:1px solid #222;
    padding:5px 0;
}

ul#online-users li img{
    float: left;
}

ul#online-users li a {
    display:block;
    float: left;
    margin: 15px 0 0 14px ;
    font-weight: bold;
    color:#fff;
}

ul#online-users li span{
    color:#FFF;
        float: right;
    cursor: pointer;
    margin:20px 10px 0 0px;
}

ul#online-user li:first-child{
    border-top:none !important;
}

div.users-online h3{
    padding: 0 10px;
}

.chat-area{
    display:none;
    position: fixed;
    bottom:0;
    right:0;
    z-index: 10000;
}

span.chat-with{
    font-style: italic;
    font-weight: bold;
    color:green;
}

.redish{
    background: #f00;
    color:#fff !important;
}

.redish .chat-with,.redish .btn-box-tool{
color:#fff !important;
}

span.new-messages{
    display:none;
    height: auto;
    line-height: 20px;
    padding: 10px;
    left: 0;
    font-family: 'Alegreya SC', Georgia, serif;
    font-weight: 400;	
    font-style: italic;
    font-size: 12px;
    z-index:10000;
    color: #719DAB;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 4px solid #fff;
    background: rgba(255,255,255,0.9);
    text-indent: 0px;
    border-radius: 5px;
    position: absolute;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    width:100%;
    cursor: pointer !important;


}

span.new-messages i,a.prev-msg i{
    color:red
}

a.prev-msg{
    text-align: center;
    padding:3px 0;
    display: inline-block;
    width: 100%;
    color:black;
}

a.prev-msg span{
    display:none;
    color:green;
    font-size: 20px;
}

ul.conversation-holder{
    height:200px;
    overflow-y: scroll;
}


li.pale-red{
    background: #c7ddef !important;
}

p.seen-mark{
    font-size:11px;
    float:right;
}
p.typing{
    font-size:11px;

}

li.messages-menu ul{
    min-height:150px;
}

li.messages-menu ul li.spinner
{
    text-align:center;
    margin-top:75px;
}

.direct-chat-messages .spin-it{
    text-align: center;
    margin-top:85px;
}

span.direct-chat-timestamp{
    margin-left:10px;
}